html, body {
  /*width: 100%;*/
  /*height: 100%;*/
}

canvas {
    /*position: absolute;
    top: 0px;
    left: 0px;*/

    display: block;
    /*margin: auto;*/
    z-index: -100;
}

.canvas {
  z-index: -1;
}

#score-text {
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: 10%;
    left: 5%;
}

#lives-text {
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: 15%;
    left: 5%;
}

#main-display-text{
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 0;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*#instructions-text {
  color: white;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#play-text {
  color: white;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-title {
  color: white;
  position: absolute;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}*/

#start-screen{
  position:absolute;
  display: block;
  margin: auto;
  /*margin: 0px 3.5%;*/
  /*z-index: 100;*/
}

#instructions-screen{
  position:absolute;
  display: inline-block;
  margin: auto;
  /*margin: 0px 3.5%;*/
  /*z-index: 100;*/
}

img {
  display: block;
}

.health-container {
    display: inline-block;
}

.health-bar {
    display: inline-block;
    width: 50px;
    height: 15px;
    background-color: red;
}

.health-bar:not(:last-child) {
    border-color: white;
    border-right: 2px solid;
}

.point-msg {
  color: green;
}

.gain-life-msg {
  color: green;
}

.lose-life-msg {
  color: red;
}


/* ================= */

.white-bg {
  top: 50%;
  z-index: -5;
  background-color: white;
}

.old-tv-screen {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 95%;
  height: 100%;
  position: relative;
  display: block;
  margin: auto;
  border: none;
  -webkit-border-radius: 50% / 5%;
  border-radius: 50% / 5%;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: black;
  z-index: -10;
}
