canvas {
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    display: block;
    margin: auto;
    z-index: -100;
}

.canvas {
  z-index: -1;
}


#score-text {
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: 5%;
    left: 5%;
}

#lives-text {
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: 10%;
    left: 5%;
}

#main-display-text{
    color: white;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 0;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#instructions-text {
  color: white;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#play-text {
  color: white;
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-title {
  color: white;
  position: absolute;
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#start-screen{
  position:absolute;
  display: block;
  margin: 0px 3.5%;
  /*z-index: 100;*/
}

#instructions-screen{
  position:absolute;
  display: inline-block;
  /*margin: auto;*/
  margin: 0px 3.5%;
  /*z-index: 100;*/
}


.health-container {
    display: inline-block;
}

.health-bar {
    display: inline-block;
    width: 50px;
    height: 15px;
    background-color: red;
}

.health-bar:not(:last-child) {
    border-color: white;
    border-right: 2px solid;
}

/* ================= */
#test {
    position: absolute;
    top: 650px;
}
